*~
/dist
/doc/*.html
/doc/*.pdf
/doc/*.png
/doc/processes.png
/gen-doc
*.hi
Main
*.o
*.orig
/src/Version.hs
*.swp
*.swo
/tags
/TAGS
/tools/stat_db.txt
/tools/stat_db.csv
/tools/*.png
/tools/*.svg
report.html
/tools/stat_db.backup.txt
.hpc
